@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24,
}

.icons .material-symbols-outlined {
    font-size: 22px;
    border: 0.1px solid #444444;
    background-color: #2e2e2e;
    padding: 9px;
    border-radius: 30px;
    color: #c4b998;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
}

p {
    color: #999999;
}

.container {
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.imperium {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #2c2c2c;
    border-radius: 14px;
    box-sizing: border-box;
    padding: 20px;
}

.imperium .man {
    max-width: 660px;
    margin: 0 auto;
}

.imperium .man span {
    border: 0.1px solid #444444;
    padding: 5px 7px;
    background-color: #ffc107;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: x-small;
    color: #856404;
}

.imperium .man h1 {
    font-size: 32px;
    color: #c4b998;
    text-shadow: 2px 2px #000;
    text-transform: capitalize;
}

.imperium .man p {
    font-size: 24px;
    font-weight: 500;
    color: #999999 ;
    width: 80%;
}

.steel {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}

button {
    background-color: #444444 ;
    color: #c4b998;
    font-weight: bold;
}

.heart {
    padding: 15px 24px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    background-color: #444444;
    color: #c4b998;
    font-weight: 700;
}

.kill {
    padding: 15px 24px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    background-color: #444444;
    color: #c4b998;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.hero .contact-item {
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    color: #c4b998;
}

.hero .contact-item .icons {
    max-width: 200px;
}

.form {
    background-color: #2c2c2c;
    padding: 50px;
    border-radius: 8px;
}

.form label {
    display: flex;
    margin-bottom: auto;
    color: #c4b998;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: #333333;
    border: 1px solid #555555;
    border-radius: 7px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    margin-bottom: auto;
    padding: 12px 20px;
    background-color: #333333;
    border: 1px solid #555555;
    border-radius: 7px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 29px;
    width: 100%;
}

@media screen and (max-width: 460px) {
    .hero .contact-item {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 370px) {
    .form {
        margin: 0 10px;
    }
    .imperium .man h1 {
        text-align: center;
    }
}


/* many thamks to chatgpt and other freunde for making this could be done :D*/
